# Basics of Python
###    Here we will be talking about
- Various Data Types in Python
- Variables
- Variable Assignments
- Print Formatting





## Various Data Types in Python
### Numbers

In [3]:
1+1

2

In [4]:
4*5

20

In [5]:
2*10

20

In [8]:
## Check data types
print(type(10.0))
print(type("Hello"))
print(type(True))

<class 'float'>
<class 'str'>
<class 'bool'>

### Strings

In [9]:
"Hello"

'Hello'

In [10]:
type("Hrishi Wadki")

str

### Variable Assignments

In [11]:
a = 10

In [12]:
type(a)

int

In [13]:
a = "Hrishi Wadki"

In [14]:
type(a)

str

In [15]:
### Mathematical Operations with Variable Assignment
a = 10
b = 10

In [18]:
print(a*b)
print(a/b)
print(a%b)
## use shift + tab to get a info about the inbuilt functions in python
print((a*b) + (a/b)) ## this follows the BODMAS rule

100
1.0
0
101.0

### Print Formatting

In [19]:
firstName = "Hrishikesh"
lastName = "Wadki"

In [25]:
## different types of print formatting
print("My first name is {} and my last name is {}".format(firstName,lastName))
print("My first name is {first} and my last name is {last}".format(last = lastName,first = firstName))
print(f"My first name is {firstName} and my last name is {lastName}")

My first name is Hrishikesh and my last name is Wadki
My first name is Hrishikesh and my last name is Wadki
My first name is Hrishikesh and my last name is Wadki

### Some More inbuilt functions

In [26]:
len("Hrishikesh Wadki")

16

In [27]:
type(1.0)

float

In [28]:
type([1,2,3,4,5])

list

# Python Data Structures and Boolean
- Boolean
- Boolean and Logical Operators
- Lists
- Comparision Operators
- Dictionaries
- Tuples
- Sets


### Boolean Variables
Boolean Values are the two constant objects False and True

They are used to represent truth values(other values can also be considered false or true).

In numeric contexts(for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value.

They are written as False and True, repectively.

In [2]:
bool(True)
bool(False)

True

In [1]:
print(True,False)

True False

In [3]:
type(False)
type(True)

bool

In [4]:
myStr = "Hrishikesh Wadki"

In [7]:
### Different boolean functions on Strings

print(myStr.isalnum()) #checks if all chars are numbers isalnum --> is alphanumeric
print(myStr.isalpha()) #checks if all char in the string are alphabets
print(myStr.isdigit()) #checks if string contains digits
print(myStr.istitle()) #checks if the string contains title workds i.e it checks if the first character is capitar or tital case
print(myStr.isupper()) # checks if sting contains upper case chars
print(myStr.islower()) # checks if string contains lower case chars
print(myStr.isspace()) # checks if string contains spaces
print(myStr.endswith('h')) # checks if string endswith 'h'
print(myStr.startswith('H')) # checks if string startswith 'H'

False
False
False
True
False
False
False
False
True

### Boolean and Logical Operators

In [8]:
True and True

True

In [9]:
True and False

False

In [10]:
True or False

True

In [11]:
True or True

True

In [12]:
strExample = "Hello World"
myStr = 'Hrishi'

In [13]:
myStr.isalpha() or strExample.isnum()

True

## Lists

A List is a data structure in Python that is a mutable or changeable, ordered sequence of elements. Each element or value that is inside a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackers [ ]

In [14]:
type([])

list

In [15]:
lst = list()

In [16]:
type(lst)

list

In [17]:
lst = ['Mathematics','chemistry',100,200,300,204]

In [18]:
type(lst)

list

### Append

In [20]:
## append is used to add elements at the end of the list
lst.append("Hrishi")

In [21]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Hrishi']

In [24]:
## indexing in list
lst[2]
lst[1:6]

['chemistry', 100, 200, 300, 204]

### Insert

In [25]:
## insert in a specific order
## here the 1st argument is the position and the 2nd position is the value that we want to add 
lst.insert(1,"Wadki")

In [26]:
lst

['Mathematics', 'Wadki', 'chemistry', 100, 200, 300, 204, 'Hrishi']

### Extend

In [27]:
lst = [1,2,3,4,5,6]

In [28]:
lst.extend([8,9])

In [29]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

### Various Operations that we can perform in List

In [30]:
lst = [1,2,3,4,5]

In [31]:
sum(lst)

15

### Pop ( ) method

In [33]:
lst.pop()

5

In [34]:
lst

[1, 2, 3, 4]

In [35]:
lst.pop(0)

1

In [36]:
lst

[2, 3, 4]

### count( ): Calculates total occurances of given element in the list

In [39]:
lst = [1,1,1,2,3,4,5]
lst.count(1) ## gives the count of 1 in the list

3

In [38]:
# len() calculates the length of the list
len(lst)

5

In [43]:
# index(): Returns the index of first occurance. Start and End index are not necessary parameters
lst.index(1) # this gives the first occurance of 1 in the lst we can also give the start and stop index then the index()
# function will look through those indexes only for example
lst.index(1,2,4)

2

In [45]:
# Min element in the list
min(lst)

1

In [48]:
#Max element in the list
max(lst)

5

# SETS
A set is an unordered collection data type that is iterable,mutabe and has no duplicate elements.Python's set class represents the mathematical notion of a set. This is based on a data structure knows as hash table

In [49]:
## Defining an empty set

setVar = set()
print(setVar)
print(type(setVar))

set()
<class 'set'>

In [50]:
setVar = {1,2,3,4,3}

In [51]:
setVar = {"Avengers","Ironman","Hitman"}
print(setVar)
type(setVar)

{'Ironman', 'Hitman', 'Avengers'}

set

In [52]:
#set doesnot support Indexing
# using the inbuilt add function we can add values to the set
setVar.add("Hulk")

In [57]:
set1 = {"Avengers","IronMan","Hitman"}
set2 = {"Avengers","IronMan","Hitman","Hulk2"}

In [58]:
# Intersection between 2 sets
set2.intersection(set1)  # we are getting all the common elements of set1 from set2
## the intersection is not gonna update the set2 to udpate the set2 values we use
set2.intersection_update(set1)

{'Avengers', 'Hitman', 'IronMan'}

In [56]:
#Difference between 2 sets
set2.difference(set1) # we are removing all the elements of set1 from set2
## the difference is not gonna update the set2 to udpate the set2 values we use
set2.difference_update(set1)

## Dictionaries

A dictionary is a collection which is unordered,changeable and indexed. In Python dictionaries are written with curly brackets and they have keys and values.

In [63]:
##creating a dictionary
myDict = {"Car1":"Audi","Car2":"BMW","Car3":"Mercedes Benz"}
myNewDict = dict()
type(myNewDict)

dict

In [64]:
type(myDict)

dict

In [65]:
##Access the item values in the dictionaries based on keys
myDict['Car1']

'Audi'

In [66]:
# We can loop through the dictionary keys
for x in myDict:
    print(x)

Car1
Car2
Car3

In [69]:
# We can also check both keys and values
for x in myDict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercedes Benz')

In [70]:
## Adding items to a dictionary
myDict["Car4"] = "Ferrari"

In [71]:
myDict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercedes Benz', 'Car4': 'Ferrari'}

In [74]:
## updating a value in a dictionary
myDict['Car1'] = "Volkswagen"

In [73]:
myDict

{'Car1': 'Volkswagen',
 'Car2': 'BMW',
 'Car3': 'Mercedes Benz',
 'Car4': 'Ferrari'}

### Nested Dictionary

In [75]:
car1Model = {'Mercedes':1960}
car2Model = {'Audi':1970}
car3Model = {'Ambassador':1980}
carType = {'car1':car1Model,'car2':car2Model,'car3':car3Model}

In [76]:
print(carType)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [78]:
##Accessing the items in the nested dictionary
print(carType['car1'])
print(carType['car1']['Mercedes'])

{'Mercedes': 1960}
1960

### Tuples

In [79]:
## create an empty Tuple
myTuple = tuple()

In [80]:
type(myTuple)

tuple

In [82]:
myTuple = ("Wadki","Kulkarni","Prasanna")
## one thing we need to keep in mind about tuples is that we can't replace a single element
## we can replace the whole tuple.

In [90]:
## Inbuild functions of tuples
myTuple.count('Wadki') ## gives the count of the value Wadki in the tuple
myTuple.index("Wadki") ## gives the index of the value Wadki in the tuple

0